@charset "UTF-8";

/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}
body {
	background-color:#999999;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {
	width:100%; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-image:url("images/bg_pagebody.gif");	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:#ffffff;		/*内容全体の背景色*/

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/*============================================
ヘッダ
============================================*/
div#header {
	height:77px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-image:url("img/bg_header.jpg");	/*ヘッダ部分の背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#000000;		/*ヘッダ部分の背景色*/
	width:100%;
	-moz-background-size:100% auto;
	background-size:100% auto;
}

.menu:before {
  display: table;
  content: "";
}

.menu:after {
  display: table;
  clear: both;
  content: "";
}

.menu ul{
  margin:0;
  padding:0;
}
.menu ul li {
  list-style: none;
  margin:0;
  padding:0;
  font-size:100%;
  float: left;
  position: relative;
  width: 20%;/*親メニューの幅*/
  height: 40px;/*親メニューの高さ*/
  line-height: 40px;
  background:#FF9933;/*親メニューの背景色*/
  color: #4D4D4D;/*親メニューの文字色*/
  text-align:center;
  font-weight:bold;
}
.menu ul li a {
  color: #4D4D4D;
  display: block;
  text-decoration: none;
}
.menu ul li:hover, .menu ul li a:hover {
  background:#FFCC66;/*ホバー時の親メニューの背景色*/
  color:#fff;/*ホバー時の親メニューの文字色*/
}
.menu ul li ul {
  position: absolute;
  top: 40px;/*親メニューの高さと同じにする*/
  width: 100%;
  z-index: 100;
}
.menu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 100%;/*サブメニューの幅*/
  height: 0;
  background:#FFCC33;/*サブメニューの背景色*/
}
.menu ul li ul li:hover, .menu ul li ul li a:hover {
  background:#FF6633;/*ホバー時のサブメニューの背景色*/
}
.menu ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:40px;/*サブメニューの高さ*/
  z-index: 10;
}
.menu * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*============================================
フッタ
============================================*/
html,body{
	height: 100%;
}

div.container {
  position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
  top: 10px;
  margin: 0 auto;
}

div.main{
	padding-bottom: 42px;
}

div#footer {
	height: 42px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	clear: both;					/*回り込みを解除する*/
	background-image: url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat: no-repeat;			/*背景画像を繰り返さない*/
	background-color: black;			/*フッタ部分の背景色*/
	margin-top: 10px;
}
address {
	color: white;
	font-style: normal;			 /*フォントスタイルを標準にする*/
	font-size: small;			 /*フォントサイズを小さくする*/
	padding: 7px 0px 5px 0px;		 /*要素内容の位置調整*/
}
