div .hotcode {
  position: relative;

}

.projectContainer:after {
  content: "";
   display: block;
   clear: both;
   height: 1px;
   overflow: hidden;
   padding-bottom: 20px;
}

.project {
  border: solid;
  float: left;
  position: relative;
  vertical-align: top;
  display: inline-block;
  _display: inline;
  zoom: 1;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
}
